VITE_SUPABASE_URL="https://tkmarmxkssbaytmqdyrj.supabase.co"
VITE_SUPABASE_ANON_KEY="eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InRrbWFybXhrc3NiYXl0bXFkeXJqIiwicm9sZSI6ImFub24iLCJpYXQiOjE3NzU0Nzc2NTcsImV4cCI6MjA5MTA1MzY1N30.CUPVqQCmnxBCmfhEOrfgk2cXOBunEE_yBO-y1ZU1okM"
SUPABASE_SERVICE_ROLE_KEY="eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InRrbWFybXhrc3NiYXl0bXFkeXJqIiwicm9sZSI6InNlcnZpY2Vfcm9sZSIsImlhdCI6MTc3NTQ3NzY1NywiZXhwIjoyMDkxMDUzNjU3fQ.kZxEC3Zdje5maPAvS3BAkmDpiYb_4WFN-LNBAcaCplo"
